:root {
    --primary-h-color: #303030;
    --second-h-color: #FFFFFF;
    --accent-color: #FF6C00;
    --p-text-color: #555555;
    --link-color: #FFFFFF;
    --third-text-color: #9DA4BD;
}   

/* -----utilities----- */

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

body {
font-family: "Open Sans", "Realway", sans-serif;
}

.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
}

.title {
    font-family: "Realway", sans-serif;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.after-title{
    font-size: 18px;
    line-height: 1.66;
    
    letter-spacing: 0.02em;
}

.btn {
font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    } 

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    overflow: hidden;
}
/* ----Header---- */

.header {
    background-color: gray;
}
.header-link,
.header-logo,
.header-tel {
     font-weight: 600;
     font-size: 12px;
     line-height: 1.33;
     letter-spacing: 0.1em;

    color: var(--link-color);
}
.header-link:hover,
.header-link:focus{
    color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus{
color: var(--accent-color);
}

.header-logo:hover,
.header-logo:focus {
    color: var(--accent-color);
}

.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
       color: var(--link-color);
}  
.header-btn {
    color: var(--second-h-color);
}

/* -----Hero----- */

.hero {
    background-color: var(--primary-h-color);
    
}

.sub-title {
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {   
        color: var(--second-h-color);
}

.hero-text {
        font-size: 18px;
        line-height: 1.67;    
        letter-spacing: 0.02em;
        color: var(--third-text-color);
}

.hero-links {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;
        color: var(--primary-link-color);
}
.hero-links:hover,
.hero-links:focus {
    color: var(--accent-color); 
}
.link {}

/* -----About----- */


.about-pre-title {
        color: var(--primary-h-color);
}

.about-title {
        color: var(--primary-h-color);
}

.about-after-title {
        font-size: 18px;
        line-height: 1.66;
        letter-spacing: 0.02em;
        color: var(--p-text-color);
}

.about-text {
        font-size: 14px;
        line-height: 1.85;
        letter-spacing: 0.02em;
        color: var(--p-text-color);
}

.about-btn {
        color: var(--second-h-color);
}
/* -----prices----- */

.prices-pre-title {
    color: rgba(157, 164, 189, 0.6);
}

.prices-title {
    color: var(--second-h-color);
}

.prices-items {
        font-size: 18px;
        line-height: 1.66;
        text-align: right;
        letter-spacing: 0.02em;
    
        color: var(--third-text-color);
}
.btn{
    color: var(--second-h-color);
}

/* -----benefits----- */

.benefits-items > span {
   font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--primary-h-color);
}
.benefits-items > sup{
   
        font-weight: 600;
        font-size: 16px;
        line-height: 1.38;
    
        text-align: center;
    
        color: var(--accent-color);
}
.benefits-pre-title {
    color: var(--primary-h-color);
}

.benefits-title {

     color: var(--primary-h-color);
}

/* -----barbers----- */

.barbers-pre-title {
    color: var(--primary-h-color);
}

.barbers-title {
    color: var(--primary-h-color);
}

.barbers-name {
       font-weight: 400;
        font-size: 18px;
        line-height: 1.39;
        text-align: center;
        letter-spacing: 0.02em;
    
        color: var(--primary-h-color);
}

.barbers-info {
        font-size: 14px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.02em;
    
        color: var(--accent-color);
}

/* -----gallery----- */

.gallery-pre-title{

    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;

    color: var(--primary-h-color);
    
}

/* -----form----- */

.form-title{
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;
    
        color: var(--second-h-color);
}

/* -----contacts----- */
.contacts{
    background-color: #555555;
}
.contacts-title{
        color: var(--second-h-color);
}
.contact-link{

      font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.66;  
        letter-spacing: 0.02em;
    
        color: var(--third-text-color);
}
.contact-address{
    font-weight: 700;
}
.contact-pre-title{
    color: var(--second-h-color);
}
.contact-text{
    color: var(--third-text-color);
}
 
/* -----footer----- */

.footer-copy{
    font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.2em;
    
        color: var(--third-text-color);
}
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}