:root {
    --primary-h-color: #303030;
    --second-h-color: #FFFFFF;
    --accent-color: #FF6C00;
    --p-text-color: #555555;
    --link-color: #FFFFFF;
    --third-text-color: #9DA4BD;
    --background-color: #FFFFFF;

     --main-font: "Open Sans", sans-serif;
     --main-margin-bottom: 20px;
}   
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul{
    margin: 0;
    padding-left: 0;
}

img{
    display: block;
}

button{
    cursor: pointer;
}

/* -----utilities----- */
.container{
    width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

body {
font-family: "Open Sans", "Realway", sans-serif;
}

.pre-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: var(--main-margin-bottom);
}
.hero-title{
    margin-bottom: var(--main-margin-bottom);
}
.title {
    font-family: "Realway", sans-serif;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.after-title{
    font-size: 18px;
    line-height: 1.66;
    
    letter-spacing: 0.02em;
}

.btn {
font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    } 

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    overflow: hidden;
}
/* ----Header---- */

.header {
    background-color: gray;
}
.header-logo{
   display: block;
   padding-top: 32px;
}
.header-link,
.header-logo,
.header-tel {
     font-weight: 600;
     font-size: 12px;
     line-height: 1.33;
     letter-spacing: 0.1em;

    color: var(--link-color);
}
.header-link:hover,
.header-link:focus{
    color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus{
color: var(--accent-color);
}

.header-logo:hover,
.header-logo:focus {
    color: var(--accent-color);
}

.header-tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
       color: var(--link-color);
}  
.header-btn {
    color: var(--second-h-color);
}

/* -----Hero----- */

.hero {
    background-color: var(--primary-h-color);
    
}
.hero-right{
padding-top: 184px;
padding-bottom: 238px;
padding-left: 100px;
padding-right: 526px;
}

.sub-title {
    color: rgba(157, 164, 189, 0.6);
}

.hero-title {   
        color: var(--second-h-color);
}

.hero-text {
        font-size: 18px;
        line-height: 1.67;    
        letter-spacing: 0.02em;
        color: var(--third-text-color);
}

.hero-links {
    font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;
        color: var(--primary-link-color);
}
.hero-links:hover,
.hero-links:focus {
    color: var(--accent-color); 
}
.link {}

/* -----About----- */
.about{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 600px;
}

.about-pre-title {
        color: var(--primary-h-color);
}

.about-title {
    margin-bottom: var(--main-margin-bottom);
        color: var(--primary-h-color);
}

.about-after-title {
        font-size: 18px;
        line-height: 1.66;
        letter-spacing: 0.02em;
        margin-bottom: var(--main-margin-bottom);

        color: var(--p-text-color);
}

.about-text {
        font-size: 14px;
        line-height: 1.85;
        letter-spacing: 0.02em;
        margin-bottom: 42px;
        color: var(--p-text-color);
}

.about-btn {
        color: var(--second-h-color);
}
/* -----prices----- */

.prices-pre-title{
    margin-bottom: var(--main-margin-bottom);
}

.prices-title{
    margin-bottom: var(44px);
}
.prices-items{
    margin-bottom: var(--main-margin-bottom);
}

.prices-list{
    margin-bottom: 44px;
    outline: 2px solid red;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 21px;
    padding-left: 21px;
}

.prices{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #555555;
}
 
.prices-pre-title {
    color: rgba(157, 164, 189, 0.6);
}

.prices-title {
    color: var(--second-h-color);
}

.prices-items {
        font-size: 18px;
        line-height: 1.66;
        text-align: right;
        letter-spacing: 0.02em;
    
        color: var(--third-text-color);
}

.prices-btn{
    display: block;
    margin: 0 auto;
    margin-top: 44px;

}

.btn{
    color: var(--second-h-color);
}

/* -----benefits----- */

.benefits{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 0px;
    padding-left: 0px;
}

.benefits-items{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    width: 170px;
    height: 133px;
    text-align: center;
    background-color: var(--background-color);
}

.benefits-items > p{
    text-align: center;
}

.benefits-items > span {
    display: inline-block;
   font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;

    color: var(--primary-h-color);
}
.benefits-items > sup{
   
        font-weight: 600;
        font-size: 16px;
        line-height: 1.38;
    
        text-align: center;
    
        color: var(--accent-color);
}
.benefits-pre-title {
    color: var(--primary-h-color);
    margin-bottom: var(--main-margin-bottom);
}

.benefits-title {
    margin-bottom: var(--main-margin-bottom);
     color: var(--primary-h-color);
}

/* -----barbers----- */

.barbers{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 0px;
    padding-left: 0px;
}

.barbers-pre-title {
    margin-bottom: var(--main-margin-bottom);
    color: var(--primary-h-color);
}

.barbers-title {
    margin-bottom: 44px;
    color: var(--primary-h-color);
}

.barbers-name {
       font-weight: 400;
        font-size: 18px;
        line-height: 1.39;
        text-align: center;
        letter-spacing: 0.02em;
        margin-top: 30px;
        margin-bottom: 8px;
    
        color: var(--primary-h-color);
}

.barbers-info {
        font-size: 14px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.02em;
    
        color: var(--accent-color);
}

/* -----gallery----- */

.gallery{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 0px;
    padding-left: 0px;
}

.gallery-pre-title{
    margin-bottom: var(--main-margin-bottom);
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;

    color: var(--primary-h-color);
    
}

/* -----form----- */

.form-title{
        font-size: 42px;
        line-height: 1.16;
        letter-spacing: 0.05em;
    
        color: var(--second-h-color);
}

/* -----contacts----- */
.contacts{
    background-color: #555555;
}
.contacts-title{
        color: var(--second-h-color);
}
.contact-link{

      font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.66;  
        letter-spacing: 0.02em;
    
        color: var(--third-text-color);
}
.contact-address{
    font-weight: 700;
}
.contact-pre-title{
    color: var(--second-h-color);
}
.contact-text{
    color: var(--third-text-color);
}
 
/* -----footer----- */

.footer-copy{
    font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.2em;
    
        color: var(--third-text-color);
}
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}